# Activer la réécriture d'URL
RewriteEngine On
RewriteBase /

RewriteRule ^$ /index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou le répertoire existe, le servir directement
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Sinon, rediriger toutes les requêtes vers index.php
    RewriteRule ^ index.php [L]
</IfModule>